{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/><br/><br/>
                    <!-- Login page -->
                    <h1 class="display-9 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-secondary-50 mb-0">Sign in to your account below</p>
                </br>
                    <!-- Login form -->
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <!-- User Inputs -->
                        <div class="mb-3">
                          <input type="text" class="form-control" name="username" placeholder="Enter Your Username">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                        </div>
                        <br/><br/>
                        <div class="border-top pt-3">
                          <!-- Links to login and reset password -->
                            <p class="text-muted" style="font-size: 16px;">Need to create an account? <a class="ml-2" href="{% url 'register' %}" class="text-muted">Register</a></p>
                            <p class="text-muted" style="font-size: 16px;">Forgot Your Password? <a class="ml-2" href="{% url 'password_reset' %}" class="text-muted">Reset Here</a></p>
                          </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                      </form>

                    <br/><br/><br/><br/><br/><br/><br/>
                </div>
                     
            </center>
        </div>
    </div>


{% endblock %}