{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/><br/><br/>
                    <!-- Password reset complete page -->
                    <h1 class="display-9 fw-bolder">Password Reset Complete</h1>
                    <p class="lead fw-normal text-secondary-50 mb-0">Your password has been successfully reset. You can now log in with your new password.</p>
                </br>
                    <div class="border-top pt-3">
                        <!-- Link back to login -->
                        <p class="text-muted" style="font-size: 16px;"><a class="ml-2" href="{% url 'login' %}" class="text-muted">Back To Login</a></p>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/>
                </div>
                     
            </center>
        </div>
    </div>


{% endblock %}
