{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/><br/><br/>
                    <h1 class="display-9 fw-bolder">Password Reset Email Sent</h1>
                    <p class="lead fw-normal text-secondary-50 mb-0">We have sent you an email with instructions on how to reset your password. Please check your email and follow the provided link to reset your password.</p>
                </br>
                
                    <p class="text-muted" style="font-size: 16px;"><a class="ml-2" href="{% url 'login' %}" class="text-muted">Back To Login</a></p>

                    <br/><br/><br/><br/><br/><br/><br/>
                </div>
                     
            </center>
        </div>
    </div>


{% endblock %}
