{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Header-->
<header class="py-5" style="background-image: url('{% static "assets/updateprofile.png" %}'); background-size: cover; background-position: center; height: 60vh;"></header>

<section class="py-5" style="background-color: #FFFFED">
    <div class="container">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br/><br/>
                    <!-- User Update Profile Form -->
                    <form method="POST" action="{% url 'update_user' %}">
                        {% csrf_token %}
                        <!-- Display User Form -->
                        {{ user_form.as_p }}

                        <br/><br/>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-secondary">Update Profile</button>
                     </form>
                     <br/>
                     <!-- Link to Update Password -->
                     <a href="{% url 'update_password' %}" class="btn btn-success">Update Password</a>
                    <br/><br/><br/>
                    <br/><br/>
                </div>    
        </div>
    </div>
</section>


{% endblock %}