{% extends 'base.html' %}

{% block content %}
{% load static %}
<header class="py-5" style="background-image: url('{% static "assets/viewyourcart.png" %}'); background-size: cover; background-position: center; height: 60vh;"></header>

<section class="py-5" style="background-color: #FFFFED">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if cart_products %}
                    {% for product in cart_products %}
                        <div class="card mb-3 shadow">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        {% if product.is_sale %}
                                          <div class="badge bg-danger text-white position-absolute top-0 start-0 mt-3 ms-3">Sale</div>
                                          <p class="text-muted"><strike>£{{ product.price }}</strike> <span class="text-danger">£{{ product.sale_price }}</span></p>
                                        {% else %}
                                            £{{ product.price }}
                                        {% endif %}
                                        <div class="row align-items-center">
                                            <div class="col-md-3">Quantity</div>
                                            <div class="col-md-3">
                                                <select class="form-select form-select-sm" id="select{{ product.id }}">
                                                    {% for key, value in quantities.items %}
                                                        {% if key == product.id|slugify %}
                                                            <option selected>{{ value }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-end">
                        <h3>Total: £{{ totals }}</h3>
                        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p>There's nothing in your cart</p>
                        <a href="{% url 'category_summary' %}" class="btn btn-secondary">Go Browsing</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br/>
</section>

<script>
//update cart
$(document).on('click', '.update-cart', function(e){
  e.preventDefault();
  //grab product.id
  var productid = $(this).data('index');
  $.ajax({
    type: 'POST',
    url: '{% url "cart_update" %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken:'{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
     //console.log(json)
     //document.getElementById("cart_quantity").textContent = json.qty
     location.reload();
    },

    error: function(xhr, errmsg, err){

    }

  });
})

//delete item
$(document).on('click', '.delete-product', function(e){
  e.preventDefault();
  //grab product.id
  //var productid = $(this).data('index');

  $.ajax({
    type: 'POST',
    url: '{% url "cart_delete" %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken:'{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
     //console.log(json)
     //document.getElementById("cart_quantity").textContent = json.qty
     location.reload();
    },

    error: function(xhr, errmsg, err){

    }

  });
})

</script>
{% endblock %}
