{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Star Toys and Kitchen</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                    <br/><br/>
                    Lorem ipsum dolor sit amet, sumo paulo denique ut vel, legendos efficiantur eam at, labores dolorum euripidis te his. Ea eos reque tacimates antiopam, an tation debitis vix, mei omnes albucius copiosae ex. Vel et recusabo urbanitas. Sale movet aperiri in vix, ex nonumy aeterno civibus quo. Ne euismod reformidans contentiones vel. Justo accommodare ullamcorper quo id, ne ponderum deserunt mea, ex quo ignota graecis definitionem.

                    Et tibique apeirian imperdiet quo. Vim stet solum no. Eirmod epicuri scriptorem ius ex. In ius movet recusabo cotidieque, fugit soleat animal sit at. Pro quidam corrumpit ut, saepe causae ius te.
                    <br/><br/>
                    Quando sanctus te eum, viris eruditi maluisset cum te, has fastidii liberavisse ei. Quem tractatos explicari nec ut, utamur detraxit consequat has an. Duo an iracundia abhorreant definiebas. Eum esse dicunt no, vix quaerendum intellegebat ea.
                    <br/> <br/> 
                    Eos solum munere erroribus ne, his an decore euismod. Ut sed graece accusam torquatos, et unum dolor elaboraret sea, his no error consectetuer. An dicta disputationi sit, saepe complectitur signiferumque his in. No harum utamur est, eu amet alii placerat cum, probatus oportere mnesarchum eum cu.
                    
                    Et nam ludus accommodare, ei duo dolor postea nonumes. Ad delenit molestie lucilius eum, no mel semper iracundia. Mel molestiae gubergren te, altera fastidii sapientem te pri, eos cu affert eruditi singulis. Duo iusto saepe dicunt te, cu erant placerat vel. Mutat salutandi cu mea, illum facilisi has ad. Sit elitr nullam dolorem an, mea dictas admodum efficiantur ad.                
                    <br/><br/><br/>
                
                    </p>  
                </div>
                     
            </center>
        </div>
    </div>


{% endblock %}