{% extends 'base.html' %}

{% block content %}
{% load static %}
    <!-- Header -->
    <header class="py-5" style="background-image: url('{% static "assets/aboutusbanner.png" %}'); background-size: cover; background-position: center; height: 60vh;"></header>

    <!-- Introduction section -->
    <section class="py-5" style="background-color: #FFFFED">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Serving Our Community Since 2016</h1>
                        <p class="lead fw-normal text-muted mb-4">At Star Toys and Kitchen, we're more than just a store — we're a family. Since our launch in 2016, we've been dedicated to providing our local community with quality kitchen essentials, all with a personal touch that only a family-owned business can offer.</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About section one -->
    <section class="py-5" id="scroll-target" style="background-color: #F8F7D2">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/store.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">A Family Tradition of Quality and Care</h2>
                    <p class="lead fw-normal text-muted mb-0">As a family-owned business, we understand the importance of genuine connections and exceptional service. Our journey began with a passion for bringing joy and functionality into the homes of our customers, and that commitment remains at the heart of everything we do.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About section two -->
    <section class="py-5" style="background-color: #FFFFED">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/zerrin.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Your Trusted Retailer</h2>
                    <p class="lead fw-normal text-muted mb-0">Over the years, we've had the privilege of building lasting relationships with our customers, becoming a trusted destination for you seeking essential homeware items for your homes. We are proud to be a part of your lives and grateful for your continued support.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bringing The Store To You section -->
    <section class="py-5" id="scroll-target" style="background-color: #F8F7D2">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/stock.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Bringing The Store To You</h2>
                    <p class="lead fw-normal text-muted mb-0">We understand that sometimes, the perfect item isn't always available in-store. With our online presence, we aim to bridge that gap, ensuring you have access to the products you love, whenever you need them. Whether you're browsing in-store or online, our commitment to quality and service remains unchanged.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
