{% extends 'base.html' %}

{% block content %}
{% load static %}
    <!-- Header -->
    <header class="py-5 position-relative" style="background-image: url('{% static "assets/category.png" %}'); background-size: cover; background-position: center; height: 60vh;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="position-absolute top-50 start-50 translate-middle text-center text-danger" style="font-family: 'Aharoni', sans-serif;" >
                <div>
                    <h1 class="display-2 fw-bolder mb-4">{{ category }}</h1>
                </div>
            </div>
        </div>        
    </header>
    

    <!-- Section -->
    <section class="py-5" style="background-color: #F8F7D2">
        <div class="container px-4 px-lg-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge -->
                            {% if product.is_sale %}
                            <div class="badge bg-danger text-white position-absolute top-0 start-0 mt-3 ms-3">Sale</div>
                            {% endif %}
                            <!-- Product image -->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                            <!-- Product details -->
                            <div class="card-body p-4">
                                <h5 class="card-title fw-bolder text-center">{{ product.name }}</h5>
                                <p class="card-text text-center">{{ product.description }}</p>
                                <div class="text-center">
                                    <!-- Product price -->
                                    {% if product.is_sale %}
                                        <p class="text-muted"><strike>£{{ product.price }}</strike> <span class="text-danger">£{{ product.sale_price }}</span></p>
                                    {% else %}
                                        <p class="text-dark">£{{ product.price }}</p>
                                    {% endif %}
                                    <!-- View product button -->
                                    <a href="{% url 'product' product.id %}" class="btn btn-outline-dark">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
