{% extends 'base.html' %}

{% block content %}
<section class="py-5" style="background-color: #FFFFED">
  <div class="container my-4">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Maximum Items:</strong> You may only buy up to 5 of the same item in each order.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
    <div class="container">
                    <br/><br/><br/>
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                          <div class="col-md-4" >
                            <!-- Image of the product uploaded through admin -->
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <center>
                                <!-- Name, age, description and price of the product using bootstrap design -->
                              <h5 class="card-title">{{ product.name }}</h5>
                              <p class="card-text">{{ product.description }}.</p>
                            {% if product.is_sale %}
                            <!-- Product price-->
                            <p class="text-muted"><strike>£{{ product.price }}</strike> <span class="text-danger">£{{ product.sale_price }}</span></p>
                            <div class="badge bg-danger text-white position-absolute top-0 start-0 mt-3 ms-3">Sale</div>
                            &nbsp;
                            {% else %}
                            £{{ product.price }}
                  
                            {% endif %}
                            <br/><br/>
                            <div class ="row justify-content-center">
                              <!-- Users can buy up to 5 quantities of each item -->
                              <div class ="col-md-2">Quantity</div>
                              <div class="col-md-2">
                              <select class="form-select form-select-sm" id ="qty-cart">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              </select>
                              </div>
                            </div>
                            <br/><br/>

                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                              <!-- Users can add item to cart or click 'home' to go back to homepage -->
                              <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                              <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
                            </div>
                            </center>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                      <br/><br/><br/>

                    
    </div>
</section>
<script>
//check if button pressed 
$(document).on('click', '#add-cart', function(e){
  e.preventDefault();  
  //send an AJAX request to add the product to the cart
  $.ajax({
    type: 'POST',
    url: '{% url "cart_add" %}', //URL to the view handling cart addition
    data: {
      product_id: $('#add-cart').val(), //get the product ID
      product_qty: $('#qty-cart option:selected').text(), //get the selected quantity
      csrfmiddlewaretoken:'{{ csrf_token }}', //add CSRF token for security
      action: 'post' //specify action
    },

    success: function(json){
      //if cart addition successful, update cart quantity display and reload the page
     document.getElementById("cart_quantity").textContent = json.qty
     location.reload();

    },

    error: function(xhr, errmsg, err){

    }

  });
})
</script>

{% endblock %}