{% extends 'base.html' %}

{% block content %}
    <!-- Results for searched product -->
    {% if searched %}    
    <section class="py-5" style="background-color: #FFFFED">
        <div class="container mt-5">
            <h2 class="fw-bold mb-4">Results for: {{ searched_item }}</h2>
        </div>

    {% endif %}

    <!-- Searched Products -->
    {% if searched %}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 justify-content-center mt-5">
                {% for product in searched %}
                    <div class="col mb-5">
                        <div class="card h-100 shadow">
                            {% if product.is_sale %}
                                <div class="badge bg-danger text-white position-absolute top-0 start-0 mt-3 ms-3">Sale</div>
                            {% endif %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                            <div class="card-body p-4">
                                <h5 class="fw-bolder text-center">{{ product.name }}</h5>
                                <p class="card-text text-center">{{ product.description }}</p>
                                <div class="text-center">
                                    {% if product.is_sale %}
                                        <p class="text-muted"><strike>£{{ product.price }}</strike> <span class="text-danger">£{{ product.sale_price }}</span></p>
                                    {% else %}
                                        <p class="text-dark">£{{ product.price }}</p>
                                    {% endif %}
                                    <a href="{% url 'product' product.id %}" class="btn btn-outline-dark">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> </br></br>    
    </section>
    {% endif %}
{% endblock %}
