{% extends 'base.html' %}

{% block content %}
{% load static %}
    <!-- Header-->
    <header class="py-5" style="background-image: url('{% static "assets/updateprofile.png" %}'); background-size: cover; background-position: center; height: 60vh;"></header>


<section class="py-5" style="background-color: #FFFFED">
    <div class="container">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center mb-4" style="font-family: 'Arial', sans-serif; color: black; font-weight: bold; text-transform: uppercase; letter-spacing: 2px;">Change Your Password</h2>

                    <br/><br/>
                    <form method="POST" action="{% url 'update_password' %}">
                        {% csrf_token %}
                    
                        {{ form.as_p }}

                        <br/><br/>
                        <button type="submit" class="btn btn-secondary">Update Password</button>
                     </form>

                    <br/><br/><br/>
                    <br/><br/>
                    <br/><br/>
                </div>
        </div>
    </div>
</section>


{% endblock %}