{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Payment Successful!</h2>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <h4 class="card-title">Order Details</h4>
                        <p><strong>Customer Reference ID:</strong> {{ client_ref_id }}</p>
                        <p><strong>Total Amount Paid:</strong> £{{ totals }}</p>
                    </div>
                    <hr>
                    <div class="mb-4">
                        <h4 class="card-title">Shipping Information</h4>
                        <p><strong>Name:</strong> {{ shipping_information.shipping_full_name }}</p>
                        <p><strong>Email:</strong> {{ shipping_information.shipping_email }}</p>
                        <p><strong>Shipping Address:</strong><br>{{ shipping_information.shipping_address1 }}, {{ shipping_information.shipping_city }}, {{ shipping_information.shipping_postcode }}</p>
                    </div>
                    <hr>
                    <div>
                        <h4 class="card-title">Ordered Products</h4>
                        <ul class="list-group">
                            {% for product in cart_products %}
                            <li class="list-group-item">
                                <strong>{{ product.name }}</strong>: 
                                {% if product.is_sale %}
                                £{{ product.sale_price }}
                                {% else %}
                                £{{ product.price }}
                                {% endif %}
                                <br>
                                <small>Quantity: 
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                    {{ value }}
                                    {% endif %}
                                {% endfor %}
                                </small>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </br></br></br></br>

        </div>
    </div>
</div>
{% endblock %}
