{% extends 'base.html' %}

{% block content %}
{% load static %}
        <!-- Header-->
        <header class="py-5" style="background-image: url('{% static "assets/checkout.png" %}'); background-size: cover; background-position: center; height: 60vh;"></header>

    <section class="py-5" style="background-color: #FFFFED">        
        <br/>
        <div class="container">
            <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header">
                              Order Summary 
                            </div>
                            <div class="card-body">
                                {% for product in cart_products %}
                                    {{ product.name }}:
                                        {% if product.is_sale %}
                                            £{{ product.sale_price }}
                                        {% else %}
                                             £{{ product.price }}
                                    {% endif %}
                                    <br/>
                                    <small>Quantity: 
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{ value }}
                                        {% endif %}
                                    {% endfor %}</small>
                                    <br/><br/>
                                {% endfor %}
                                Total:  £{{ totals }}
                                <br/><br/>
                                        <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                            </div>
                          </div>
                        <br/><br/>
                        <div class="card">
                            <div class="card-header">
                            Shipping Information
                            </div>
                            <div class="card-body">
                                Name: {{ shipping_information.shipping_full_name }}</br>
                                Email: {{ shipping_information.shipping_email }}</br>
                                Address 1: {{ shipping_information.shipping_address1 }}</br>
                                Address 2: {{ shipping_information.shipping_address2}}</br>
                                City: {{ shipping_information.shipping_city }}</br>
                                Postcode: {{ shipping_information.shipping_postcode }}</br>
                                Country: {{ shipping_information.shipping_country}}</br>
                            </br>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping </a>
                            </div>
                        </div>
                        <br/><br/>



                        <div class="card">
                            <div class="card-header">
                                Billing Information
                            </div>
                            <div class="card-body">
                            <form method="POST" action="{% url 'handle_order' %}">
                                {% csrf_token %}
                               {{ billing.as_p }}
                            </div>
                        </div>
                        </br>
                        <!-- <button type="submit" class="btn btn-secondary">
                            Pay Now
                          </button> -->
                            <a href="#" id="buy-now" class="btn btn-secondary">Pay Now</a>

                            <script src="https://js.stripe.com/v3/"></script>
                            <script>
                                var stripe = Stripe('{{ stripe_public_key }}');
                                const buy_now = document.querySelector('#buy-now')
                                buy_now.addEventListener('click', event => {

                                stripe.redirectToCheckout({
                                    sessionId: '{{ session_id }}'
                                }).then(function (result){

                                });
                            })
                            </script>
                            </form>
                </div>
            </div>
        </div>       
         <br/><br/><br/><br/>
    </section>




{% endblock %}
